.portfolio {
    &__filter {
        margin-bottom: 40px;
        a {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 24px;
            color: #000000;
            margin-right: 15px;

            &:hover {
                color: #315999;
                border-bottom: 1px solid #315999;
            }

            &.active {
                color: #315999;
                border-bottom: 1px solid #315999;
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    &__item {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        color: #414859;
        padding: 5px 10px;
        margin-right: 5px;

        &:hover {
            background: #315999;
            border-radius: 3px;
            color: #FFFFFF;
        }

        &.active {
            background: #315999;
            border-radius: 3px;
            color: #FFFFFF;
        }
    }
}