<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="/static/source/pages/about/index.css">
</head>

<body>

    <header class="header">
        <div>
            <a href="#">
                <img src="/static/source/img/banner/big_kiev_logo 1.svg" alt="big_kiev_logo">
            </a>
        </div>
        <nav class="header_nav">
            <a href="#">
                Головна
            </a>
            <a href="#">
                Послуги
            </a>
            <a href="#">
                Проекти
            </a>
            <a href="#">
                Про компанію
            </a>
            <a href="#">
                Новини
            </a>
        </nav>
        <address class="header_address">
            <div class="header_address__left">
                <a href="tel:(067) 535-90-62"><img src="/static/source/img/banner/phone-call 1.svg" alt="phone-call">
                    (067) 535-90-62</a>
                <div>
                    Що дня: з 09:00 по 18:00
                </div>
            </div>
            <button class="btn_standart">замовити дзвінок</button>
        </address>
    </header>

    <section class="top_banner container" style="background-image: url(/static/source/img/about/banner.png);">
        <h1 class="title_1">“БіГ Київ” - гідроізоляція з гарантією</h1>
        <div class="top_banner__text">
            Спеціалісти нашої компанії мають величезний досвід у виконанні гідроізоляції об'єктів, з яким ми з радістю
            поділимося з Вами для розробки та реалізації найбільш оптимальної технології гідроізоляції об'єкта.
        </div>
    </section>

    <section class="about container">
        <div class="about__top">
            
        </div>
    </section>

    <footer class="footer">
        <div class="footer__section">
            <a href="#">
                <img src="/static/source/img/logo_blue.svg" alt="">
            </a>
        </div>
        <nav class="footer__section">
            <div class="footer__title">Меню</div>
            <a href="#" class="footer__link">Головна</a>
            <a href="#" class="footer__link">Про компанію</a>
            <a href="#" class="footer__link">Послуги</a>
            <a href="#" class="footer__link">Проекти</a>
            <a href="#" class="footer__link">Новини</a>
        </nav>
        <address class="footer__section">
            <div class="footer__title">Телефон</div>
            <div class="footer__link">З комерційних питань:</div>
            <a href="tel:+38 (067) 535 90 62" class="footer__link">тел: +38 (067) 535 90 62</a>
            <br>
            <div class="footer__link">Щодо технологічних консультацій:</div>
            <a href="tel:+38 (067) 101 76 77" class="footer__link">тел: +38 (067) 101 76 77</a>
            <br>
            <div class="footer__link">З питань найму:</div>
            <a href="tel:+38 (067) 409 53 16" class="footer__link">тел: +38 (067) 409 53 16</a>
        </address>
        <address class="footer__section">
            <div class="footer__title">Головний офіс</div>
            <div class="footer__link">м. Київ, бульвар Л. Українки, 6</div>
            <div class="footer__link">ПН-ПТ: 09:00 - 18:00</div>
            <div class="footer__link">СБ-НД: 09:00 - 18:00</div>
            <div>
                <a href="#"><img src="/static/source/img/social/facebook 1.svg" alt=""></a>
                <a href="#"><img src="/static/source/img/social/youtube 1.svg" alt=""></a>
                <a href="#"><img src="/static/source/img/social/instagram 1.svg" alt=""></a>
            </div>
        </address>
        <address>
            <div class="footer__title">Схема проїзду</div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20309.5212474985!2d30.4782173!3d50.4841117!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf01a24ba029%3A0xe584fe62cce00cb4!2z0LHRg9C7LiDQm9C10YHQuCDQo9C60YDQsNC40L3QutC4LCA2LCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1668610076524!5m2!1sru!2sua"
                width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </address>
    </footer>

    <script src="/static/source/pages/about/index.js"></script>

</body>

</html>