<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article</title>
    <link rel="stylesheet" href="/static/source/pages/article/index.css">
</head>

<body>

    <header class="header">
        <div>
            <a href="#">
                <img src="/static/source/img/banner/big_kiev_logo 1.svg" alt="big_kiev_logo">
            </a>
        </div>
        <nav class="header_nav">
            <a href="#">
                Головна
            </a>
            <a href="#">
                Послуги
            </a>
            <a href="#">
                Проекти
            </a>
            <a href="#">
                Про компанію
            </a>
            <a href="#">
                Новини
            </a>
        </nav>
        <address class="header_address">
            <div class="header_address__left">
                <a href="tel:(067) 535-90-62"><img src="/static/source/img/banner/phone-call 1.svg" alt="phone-call">
                    (067) 535-90-62</a>
                <div>
                    Що дня: з 09:00 по 18:00
                </div>
            </div>
            <button class="btn_standart">замовити дзвінок</button>
        </address>
    </header>

    <section class="top_banner container" style="background-image: url(/static/source/img/article/banner.png);">
    </section>

    <section class="article container">
        <h2 class="title">
            Яка сильна сторона компанії БіГ Київ ?
        </h2>
        <div class="article__img">
            <img src="/static/source/img/article/photo.png" alt="">
        </div>
        <div class="article__date">
            29 Червня 2022
        </div>
        <div class="article__text">
            80% наших замовлень пов'язані з усуненням проблем, що виникли через неправильну роботу на початку. Тому
            доводиться ліквідувати допущені під час будівництва помилки.

            Звісно, це неприємний процес для замовника послуг. Ми твердо переконані, що краще запобігти проблемі, аніж
            ремонтувати об'єкт у процесі його експлуатації.

            БіГ КИЇВ має достатньо практичного досвіду, аби вирішити задачу будь-якої складності. Звертаючись до нас, ви
            усуваєте всі ризики на майбутнє. Надійна гідроізоляція збереже ваші бюджети та нерви.
            Наші пріоритети:
            • Надійність
            • Результативність
            • Чесність

            Репутація – вагоме слово для компанії БіГ КИЇВ. Саме тому ми прагнемо бути кращими: вдосконалюємо нашу
            майстерність та застосовуємо новітні технології у своїй роботі.
            Наша компания БіГ Київ имеет аккредитацию от компании Пенетрон на выполнение гидроизоляции объектов
            различной сложности. Здесь Вы можете заказать и рассчитать стоимость гидроизоляционных работ вашего объекта
            или ознакомиться с технологией решения задач по гидроизоляции подвала, резервуара, кровли, террасы и т.д.

            Специалисты нашей компании имеют огромный опыт в выполнении гидроизоляции объектов, с которым мы с радостью
            поделимся с Вами для разработки и реализации наиболее оптимальной технологии гидроизоляции вашего объекта.

            Ми здійснюємо діяльність по забезпеченню гідроізоляції найрізноманітніших будівельних об’єктів, а також
            пропонуємо загальнобудівельні послуги та покрівельні роботи. Наша компанія являється офіційним представником
            групи компаній “Пенетрон-Україна” та офіційним дилером компанії Penetron ICS (США). Качество представленных
            материалов и гидроизоляционных решений испытаны на различных объектах Украины. Нашими клиентами являются как
            приватные заказчики, так и крупные строительные гиганты, предприятия агрокомплекса, тяжелой, легкой и
            пищевой промышленности. Наше портфолио работ содержит фотоотчеты с самых знаковых объектов, в которых
            отображены все этапы обеспечения гидроизоляции различных зданий и сооружений.

            Надеемся, что с нами Вы найдете оптимальное решение по надежной гидроизоляции и мы поможем Вам реализовать
            его в соответствии со всеми требованиями и с гарантией долговечного результата.
        </div>
    </section>

    <section class="blog container">
        <h2 class="title">Новини</h2>
        <div class="blog__wrapper">
            <div class="blog__item">
                <img src="/static/source/img/index/news/Mask group.png" alt="">
                <h3 class="blog__title">Яка сильна сторона компанії БіГ Київ ?</h3>
                <div class="blog__date">
                    29 Червня 2022
                </div>
                <div class="blog__text">
                    Команда! Де кожен — професіонал своєї справи. Де робота націлена на ідеальний результат та якість.
                    Головна цінність — сервіс: ми робимо процес будівництва комфортним...
                </div>
                <a href="#" class="btn_blue">детальніше</a>
            </div>
            <div class="blog__item">
                <img src="/static/source/img/index/news/Mask group (1).png" alt="">
                <h3 class="blog__title">Презентуємо успішний кейс "Бориспільський елеватор".</h3>
                <div class="blog__date">
                    29 Червня 2022
                </div>
                <div class="blog__text">
                    Ми провели ряд робіт на території елеватора в місті Бориспіль. Спочатку ми залили бетон з адміксом
                    приямку і вичекали належний термін, доки відбудеться усадка матеріалу...
                </div>
                <a href="#" class="btn_blue">детальніше</a>
            </div>
            <div class="blog__item">
                <img src="/static/source/img/index/news/Mask group (2).png" alt="">
                <h3 class="blog__title">Продовжуємо ділитися процесом нашої роботи.</h3>
                <div class="blog__date">
                    23 Травня 2022
                </div>
                <div class="blog__text">
                    На даному об’єкті виконали утеплення, ухильну полістиролбетону стяжку, армовану бетону стяжку та
                    гідроізоляцію за допомогою ПВХ мембрани тм SІKA.
                </div>
                <a href="#" class="btn_blue">детальніше</a>
            </div>
        </div>
    </section>

    <section class="contact-us container" style="background-image: url(/static/source/img/index/bgr.png);">
        <h2>Залиште заявку і наш менеджер зв'яжеться з Вами!</h2>
        <form action="" class="contact-us__form">
            <div class="contact-us__inputs">
                <div class="contact-us__left">
                    <div>
                        <input type="text" name="name" placeholder="Ім’я*">
                    </div>
                    <div>
                        <input type="email" name="email" placeholder="Email*">
                    </div>
                    <div>
                        <input type="text" name="phone" placeholder="Телефон">
                    </div>
                </div>
                <div class="contact-us__right">
                    <textarea name="message" id="" cols="30" rows="5" placeholder="Ваше повідомлення"></textarea>
                </div>
            </div>
            <button class="btn_standart">відправити</button>
        </form>
    </section>

    <footer class="footer">
        <div class="footer__section">
            <a href="#">
                <img src="/static/source/img/logo_blue.svg" alt="">
            </a>
        </div>
        <nav class="footer__section">
            <div class="footer__title">Меню</div>
            <a href="#" class="footer__link">Головна</a>
            <a href="#" class="footer__link">Про компанію</a>
            <a href="#" class="footer__link">Послуги</a>
            <a href="#" class="footer__link">Проекти</a>
            <a href="#" class="footer__link">Новини</a>
        </nav>
        <address class="footer__section">
            <div class="footer__title">Телефон</div>
            <div class="footer__link">З комерційних питань:</div>
            <a href="tel:+38 (067) 535 90 62" class="footer__link">тел: +38 (067) 535 90 62</a>
            <br>
            <div class="footer__link">Щодо технологічних консультацій:</div>
            <a href="tel:+38 (067) 101 76 77" class="footer__link">тел: +38 (067) 101 76 77</a>
            <br>
            <div class="footer__link">З питань найму:</div>
            <a href="tel:+38 (067) 409 53 16" class="footer__link">тел: +38 (067) 409 53 16</a>
        </address>
        <address class="footer__section">
            <div class="footer__title">Головний офіс</div>
            <div class="footer__link">м. Київ, бульвар Л. Українки, 6</div>
            <div class="footer__link">ПН-ПТ: 09:00 - 18:00</div>
            <div class="footer__link">СБ-НД: 09:00 - 18:00</div>
            <div>
                <a href="#"><img src="/static/source/img/social/facebook 1.svg" alt=""></a>
                <a href="#"><img src="/static/source/img/social/youtube 1.svg" alt=""></a>
                <a href="#"><img src="/static/source/img/social/instagram 1.svg" alt=""></a>
            </div>
        </address>
        <address>
            <div class="footer__title">Схема проїзду</div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20309.5212474985!2d30.4782173!3d50.4841117!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf01a24ba029%3A0xe584fe62cce00cb4!2z0LHRg9C7LiDQm9C10YHQuCDQo9C60YDQsNC40L3QutC4LCA2LCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1668610076524!5m2!1sru!2sua"
                width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </address>
    </footer>

    <script src="/static/source/pages/article/index.js"></script>

</body>

</html>