<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>service</title>
    <link rel="stylesheet" href="/static/source/pages/service/index.css">
</head>

<body>

    <header class="header">
        <div>
            <a href="#">
                <img src="/static/source/img/banner/big_kiev_logo 1.svg" alt="big_kiev_logo">
            </a>
        </div>
        <nav class="header_nav">
            <a href="#">
                Головна
            </a>
            <a href="#">
                Послуги
            </a>
            <a href="#">
                Проекти
            </a>
            <a href="#">
                Про компанію
            </a>
            <a href="#">
                Новини
            </a>
        </nav>
        <address class="header_address">
            <div class="header_address__left">
                <a href="tel:(067) 535-90-62"><img src="/static/source/img/banner/phone-call 1.svg" alt="phone-call">
                    (067) 535-90-62</a>
                <div>
                    Що дня: з 09:00 по 18:00
                </div>
            </div>
            <button class="btn_standart">замовити дзвінок</button>
        </address>
    </header>

    <section class="top_banner container" style="background-image: url(/static/source/img/service/banner.png);">
        <h1 class="title_1">підземна ізоляція</h1>
    </section>

    <section class="service container">
        <div class="service__top">
            <div>
                <div class="service__text">
                    Наша компания "Біг Київ" осуществляет эффективную защиту сооружений от воды, повышая при этом их
                    надежность и долговечность. Вне зависимости от источников и мест проникновения влаги, мы предлагаем
                    решение вопроса гидроизоляции на любых этапах строительства. Наша работа гарантирует долговечные
                    результаты при любых условиях.
                </div>
                <div class="service__text">
                    Квалифицированные специалисты нашей компании могут качественно провести подготовку основания,
                    выполнить гидроизоляционный покров защитного ограждения, уплотнить деформационные швы гидроизоляции.
                    Также, по Вашему желанию мы проконсультируем и поможем выбрать тип необходимой гидроизоляции в
                    разумном соотношении цены и качества, что непременно даст максимально возможный результат решения
                    именно Вашей проблемы.
                </div>
                <h2>Галузь застосування:</h2>
                <ul class="service__text">
                    <li>Гідроізоляція підвалів</li>
                    <li>Гідроізоляція підземних паркінгів</li>
                    <li>Гідроізоляція пожежних резервуарів</li>
                    <li>Гідроізоляція підлоги</li>
                    <li>Гідроізоляція фундаментів</li>
                    <li>Гідроізоляція колодязів</li>
                    <li>Гідроізоляція деформаційних швів</li>
                    <li>Гідроізоляція бетону проникаючою гідроізоляцією Пенетрон</li>
                    <li>Відновлення гідроізоляції між фундаментом та стіною</li>
                    <li>Гідроізоляція підземних галерей на елеваторах</li>
                    <li>Гідроізоляція норійних приямків на елеваторах</li>
                    <li>Гідроізоляція фундаментів силосів на елеваторах</li>
                </ul>
                <h2>Методи які ми використовуємо:</h2>
                <ul>
                    <li>Ін'єкційна гідроізоляція</li>
                    <li>Проникаюча гідроізоляція</li>
                </ul>
                <h2>Матеріали:</h2>
                <ul>
                    <li>Система матеріалів проникаючої гідроізоляції Пенетрон</li>
                    <li>“Пенепурфом 65” - інноваційна поліуретанова смола</li>
                    <li>Sikadur Combiflex CF Adhesive</li>
                    <li>Однокомпонентний поліуретановий герметик Sikaflex Pro 3</li>
                    <li>Пенепоксі 2К клей для стрічки Пенебанд С</li>
                    <li>ПВХ мембрани</li>
                </ul>
            </div>
            <div>
                <img src="/static/source/img/service/photo.png" alt="">
                <img src="/static/source/img/service/photo (1).png" alt="">
            </div>
        </div>
        <div>
            Гидроизоляция зданий и водоемов является одним из важнейших этапов в строительстве. Если своевременно не
            позаботится о решении этого вопроса, влага будет постоянно проникать в кровельные материалы, стены и
            фундамент, что в дальнейшем поспособствует их разрушению.
            <br>
            <br>
            Наличие в нашей стране сырых подвалов и ржавеющих коммуникационных объектов говорит о критическом мнении
            некоторых людей про гидроизоляцию. Это обусловлено тем, что многие привыкли использовать для этой работы
            низкокачественные материалы (рубероид, ПВХ-пленка, бюджетная жидкая гидроизоляция), которые уже через
            несколько лет утрачивают свои защитные свойства. Поэтому ключевую роль в гидроизоляции играет именно
            эффективность используемых материалов.
            <br>
            <br>
            Если Вы раздумываете над тем, нужна ли для вашего дома услуга по гидроизоляции, то просто представьте
            сколько нужно будет затратить времени, сил и финансов на ремонт или восстановление кровли, подвального
            помещения. Ведь влага – достаточно коварный вредитель, и результаты её агрессивных воздействий видны уже на
            уровне значительных повреждений. А своевременный грамотный подход к гидроизоляции позволит уберечься от
            существенных затрат на ремонтные работы.
        </div>
    </section>

    <section class="projects container">
        <h2 class="title">проекти</h2>
        <div class="projects_swiper swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide projects_swiper_slide">
                    <img src="/static/source/img/index/projects_swiper/Mask group.png" alt="">
                    <div class="projects_swiper_slide__bottom">
                        <div class="projects_swiper_slide__title">
                            Елеватор Ханзе Агрі
                        </div>
                        <div class="projects_swiper_slide__text">
                            Захист фундаментів силосів
                        </div>
                    </div>
                </div>
                <div class="swiper-slide projects_swiper_slide">
                    <img src="/static/source/img/index/projects_swiper/Mask group (1).png" alt="">
                    <div class="projects_swiper_slide__bottom">
                        <div class="projects_swiper_slide__title">
                            ЖК «Taryan Towers»
                        </div>
                        <div class="projects_swiper_slide__text">
                            Ізоляція
                            балконів та терас
                        </div>
                    </div>
                </div>
                <div class="swiper-slide projects_swiper_slide">
                    <img src="/static/source/img/index/projects_swiper/Mask group (2).png" alt="">
                    <div class="projects_swiper_slide__bottom">
                        <div class="projects_swiper_slide__title">
                            ТРЦ «Лавина»
                        </div>
                        <div class="projects_swiper_slide__text">
                            Влаштування покрівлі з ПВХ мембран
                        </div>
                    </div>
                </div>
                <div class="swiper-slide projects_swiper_slide">
                    <img src="/static/source/img/index/projects_swiper/Mask group (3).png" alt="">
                    <div class="projects_swiper_slide__bottom">
                        <div class="projects_swiper_slide__title">
                            ЖК «044»
                        </div>
                        <div class="projects_swiper_slide__text">
                            Комплексна гідроізоляція всієї
                            заглибленої частини
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination projects_swiper_pagination"></div>
        </div>
    </section>

    <section class="contact-us container" style="background-image: url(/static/source/img/index/bgr.png);">
        <h2>Залиште заявку і наш менеджер зв'яжеться з Вами!</h2>
        <form action="" class="contact-us__form">
            <div class="contact-us__inputs">
                <div class="contact-us__left">
                    <div>
                        <input type="text" name="name" placeholder="Ім’я*">
                    </div>
                    <div>
                        <input type="email" name="email" placeholder="Email*">
                    </div>
                    <div>
                        <input type="text" name="phone" placeholder="Телефон">
                    </div>
                </div>
                <div class="contact-us__right">
                    <textarea name="message" id="" cols="30" rows="5" placeholder="Ваше повідомлення"></textarea>
                </div>
            </div>
            <button class="btn_standart">відправити</button>
        </form>
    </section>

    <footer class="footer">
        <div class="footer__section">
            <a href="#">
                <img src="/static/source/img/logo_blue.svg" alt="">
            </a>
        </div>
        <nav class="footer__section">
            <div class="footer__title">Меню</div>
            <a href="#" class="footer__link">Головна</a>
            <a href="#" class="footer__link">Про компанію</a>
            <a href="#" class="footer__link">Послуги</a>
            <a href="#" class="footer__link">Проекти</a>
            <a href="#" class="footer__link">Новини</a>
        </nav>
        <address class="footer__section">
            <div class="footer__title">Телефон</div>
            <div class="footer__link">З комерційних питань:</div>
            <a href="tel:+38 (067) 535 90 62" class="footer__link">тел: +38 (067) 535 90 62</a>
            <br>
            <div class="footer__link">Щодо технологічних консультацій:</div>
            <a href="tel:+38 (067) 101 76 77" class="footer__link">тел: +38 (067) 101 76 77</a>
            <br>
            <div class="footer__link">З питань найму:</div>
            <a href="tel:+38 (067) 409 53 16" class="footer__link">тел: +38 (067) 409 53 16</a>
        </address>
        <address class="footer__section">
            <div class="footer__title">Головний офіс</div>
            <div class="footer__link">м. Київ, бульвар Л. Українки, 6</div>
            <div class="footer__link">ПН-ПТ: 09:00 - 18:00</div>
            <div class="footer__link">СБ-НД: 09:00 - 18:00</div>
            <div>
                <a href="#"><img src="/static/source/img/social/facebook 1.svg" alt=""></a>
                <a href="#"><img src="/static/source/img/social/youtube 1.svg" alt=""></a>
                <a href="#"><img src="/static/source/img/social/instagram 1.svg" alt=""></a>
            </div>
        </address>
        <address>
            <div class="footer__title">Схема проїзду</div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20309.5212474985!2d30.4782173!3d50.4841117!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf01a24ba029%3A0xe584fe62cce00cb4!2z0LHRg9C7LiDQm9C10YHQuCDQo9C60YDQsNC40L3QutC4LCA2LCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1668610076524!5m2!1sru!2sua"
                width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </address>
    </footer>

    <script src="/static/source/pages/service/index.js"></script>

</body>

</html>